$white: #ffffff;
$black: #000000;

$body-background: #f2f2f2;
$block-background: #eeeeee;

$acient-brown: #766357;
$acient-brown-hover: #604e43;
$acient-brown-active: #503e33;

$acient-blue: #81b3d2;
$acient-blue-hover: #669ec0;
$acient-blue-active: #5496bd;

$blue-text: #81b3d2;
$brown-text: rgba(0, 0, 0, 0.3);
$brown-active-text: #766357;
$brown-active: #a9a9a9;

$input-background: #f2f2f2;
$input-background-hover: #ebebeb;
$input-border: #e5e5e5;


$tablet-width: 768px;
$desctop-width: 1088px;
$mobile-width-only: 767px;